

/*head {
  background-color: rgb(255,0,255);
}*/

#suck_it {
	display: none;
}

#alaska {
	display: none;
}

#new_york {
	display: none;
}

#fiji {
	display: none;
}

body {
  background-color: #383838;
}

p {
	color: #cccccc;
	font-size: 3em;
	padding-bottom: 30px;
}

h1 {
	font-size: 5em;
	/*color: #cccccc;*/
	color: #ADD8E6;
	padding-top: 15px;
	padding-bottom: 20px;
}

#choices {
	color: #989898;
	font-size: 1.2em;
}


.btn {
  display: block;
  margin-top: 15px;
  border: 1px solid #cccccc;
  background-color: #383838;
  color: #cccccc;
  padding: 15px;

}

a:link, a:visited, a:active {
	color: #2F4F4F;
	font-size: 17px;
}

 .column {
 	width: 300;
 	float: left;
 	padding-left: 5px;
 }


.boldtext {
	font-weight: bold;
}

.list {
	font-size: 17px;
	color: #808080;
}
